body {
    background-color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;   
    text-align: center;
    }
form {
    text-align: center center;
    border: 1px solid black;
    display: flexbox;
    margin: 250px 650px 0px 600px;
    padding: 20px;
    width: 260px
    
}
input {
    width: 150px;
    height: 20px;
}
.title {
    font-size: 35px;
    padding-bottom: 10px;
}
.first{
display: flexbox;
padding: 3px;
}
.last {
    display: flexbox;
    padding: 3px;
}
.email {
    display: flexbox;
    padding: 3px;

}
input[type=submit] {
    display: flexbox;
   width: 20em;
   height: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}